<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>We received a password reset request for <%= @user.email %></h1>
    <p>
		Your new temporary password is <%= @pwd %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>
    </p>
    <p>Once you login with your new password, change your password to something you will remember using the following steps:</p>
	<br>
    <p>1. Click your name at the top of the page.</p>
    <p>2. Click the link next to your name (Edit Profile).</p>
    <p>3. Enter your password and password confirmation.</p>
  </body>
</html>