<br>
<br>
<h1>Bike Commuter Challenge 2012 has ended</h1>
<br>

<p><strong>We hope you enjoyed the site and the challenge this year, thanks for playing!</strong></p>
<br>

<p>Active Transportation Alliance will be moving the Commuter Challenge to a new platform starting this fall, so we have taken down the team and bike information.</p>

<p>If you are in need of specific data from Bike To Work Week 2012, or have any questions, <a href="mailto:shirlee.berman@gmail.com?Subject=Bike Commuter Challenge site">
E-mail Us</a></p>
<br>