<h1>New user</h1>
<p>Prefer not to remember another password? Instead... <%= link_to image_tag("login_fb.jpeg", :border=>0), '/auth/facebook' %></p>
<br>
<%= render 'form' %>

<%= link_to 'View All Bikers', users_path %>
