<!-- <h1>Sorry, User Registration is now closed</h1> -->
<% if params[:team_id] != nil %>
	<h1>Join Team <%= @team.company %>! </h1>
<% else %>
	<h1>Create a User Profile</h1>
<% end %>
<p>Prefer not to remember another password? Instead... <%= link_to image_tag("login_fb.jpeg", :border=>0), '/auth/facebook' %></p>
<br>
<%= render 'form' %>
