<h1>New commute entry for <%= User.find_by_id(@commute.user_id).full_name %> </h1>
<p><i>Only commutes for Jun 9 - Jun 15 count on the scoreboards.</i></p>
<br>
<%= render 'form' %>

<%= link_to 'Cancel', user_url(@commute.user_id) %>
