<h1>Sorry, Commute Logging is now closed</h1>
<!-- <h1>New commute entry for <%= User.find_by_id(@commute.user_id).full_name %> </h1>
<br>
<p><i>Only commutes for Jun 9 - Jun 15 count towards <%= link_to "team standings", awards_url %>.</i></p>
<p><i>Teams are scored based on % of total employees who log at least one commute, regardless of mileage.</i></p>
<br>
<%= render 'form' %>

<%= link_to 'Cancel', user_url(@commute.user_id) %> -->
