/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquerytheme
 *= require bootstrap_and_overrides
 *= require_tree . 
*/


#notice {
  color: green; }

#new-user-required-left {
	border-style:dotted;
	border-width:1px;
	border-color:#73AFB6;
	width:300px;
	float:left;
	margin:5px;
	padding:5px;
	color:#000;
}

#fun-stuff {
	border-style:dotted;
	border-width:1px;
	border-color:#73AFB6;
	width:300px;
	float:right;
	margin:5px;
	padding:5px;
	color:#000;
}

#demo-stuff {
	border-style:dotted;
	border-width:1px;
	border-color:#73AFB6;
	width:300px;
	float:right;
	margin:5px;
	padding:5px;
	color:#000;
}

#submit-form {
	border-style:dotted;
	border-width:1px;
	border-color:#73AFB6;
	width:600px;
	float:bottom;
	margin:5px;
	padding:5px;
	color:#000;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#home-zip {
	width:100px;
	float:left;
	margin:0px;
	padding:0;
}

#work-zip {
	width:100px;
	float:left;
	margin-left:20px;
	padding:0;
}

#new-user-action {
	float:;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

td
	{
	vertical-align:top;
	padding:5px;
	height:5px;
	}