
	<table>
	  <tr>
	    <!-- <th>Ridescore</th> -->
	    <th>Comment</th>
	  </tr>

	<% @commutes.each do |commute| %>
	  <tr>
	    <!-- <td><%= commute.ridescore %></td> -->
	    <td><%= commute.comments %></td>
	  </tr>
	<% end %>


</table>