<h1> Bike Commuter Challenge Reports</h1>

<p> This page is available to administrator users only.</p>

<br>
<br>
<%= button_to "Teams Report", teamsreport_url, :method => 'get' %>
<br>
<%= button_to "Users Report", usersreport_url, :method => 'get' %>