<h1>Bike Commuter Comments - In Word Clouds</h1>
<br>
<br>
<h2>June 9 - Saturday</h2>

<a href="http://www.wordle.net/show/wrdl/5482469/Chicago_Bike_Commuter_Challenge_-_Day_1" 
          title="Wordle: Chicago Bike Commuter Challenge - Day 1"><img
          src="http://www.wordle.net/thumb/wrdl/5482469/Chicago_Bike_Commuter_Challenge_-_Day_1"
          alt="Wordle: Chicago Bike Commuter Challenge - Day 1"
          style="padding:4px;border:1px solid #ddd"></a>


<h2>June 10 - Sunday</h2>
<a href="http://www.wordle.net/show/wrdl/5482485/Chicago_Bike_Commuter_Challenge_-_Day_2" 
          title="Wordle: Chicago Bike Commuter Challenge - Day 2"><img
          src="http://www.wordle.net/thumb/wrdl/5482485/Chicago_Bike_Commuter_Challenge_-_Day_2"
          alt="Wordle: Chicago Bike Commuter Challenge - Day 2"
          style="padding:4px;border:1px solid #ddd"></a>


<h2>June 11 - Monday</h2>
<a href="http://www.wordle.net/show/wrdl/5482495/Chicago_Bike_Commuter_Challenge_-_Day_3" 
          title="Wordle: Chicago Bike Commuter Challenge - Day 3"><img
          src="http://www.wordle.net/thumb/wrdl/5482495/Chicago_Bike_Commuter_Challenge_-_Day_3"
          alt="Wordle: Chicago Bike Commuter Challenge - Day 3"
          style="padding:4px;border:1px solid #ddd"></a>


<h2>June 12 - Tuesday</h2>
<a href="http://www.wordle.net/show/wrdl/5482500/Bike_Commuter_Challenge_-_Day_4" 
          title="Wordle: Bike Commuter Challenge - Day 4"><img
          src="http://www.wordle.net/thumb/wrdl/5482500/Bike_Commuter_Challenge_-_Day_4"
          alt="Wordle: Bike Commuter Challenge - Day 4"
          style="padding:4px;border:1px solid #ddd"></a>


<h2>June 13 - Wednesday</h2>
<a href="http://www.wordle.net/show/wrdl/5482506/Bike_Commuter_Challenge_-_Day_5" 
          title="Wordle: Bike Commuter Challenge - Day 5"><img
          src="http://www.wordle.net/thumb/wrdl/5482506/Bike_Commuter_Challenge_-_Day_5"
          alt="Wordle: Bike Commuter Challenge - Day 5"
          style="padding:4px;border:1px solid #ddd"></a>


<h2>June 14 - Thursday</h2>
<a href="http://www.wordle.net/show/wrdl/5482512/Chicago_Bike_Commuter_Challenge_-_Day_6" 
          title="Wordle: Chicago Bike Commuter Challenge - Day 6"><img
          src="http://www.wordle.net/thumb/wrdl/5482512/Chicago_Bike_Commuter_Challenge_-_Day_6"
          alt="Wordle: Chicago Bike Commuter Challenge - Day 6"
          style="padding:4px;border:1px solid #ddd"></a>


<h2>June 15 - Friday</h2>
<a href="http://www.wordle.net/show/wrdl/5482520/Chicago_Bike_Commuter_Challenge_-_Day_7" 
          title="Wordle: Chicago Bike Commuter Challenge - Day 7"><img
          src="http://www.wordle.net/thumb/wrdl/5482520/Chicago_Bike_Commuter_Challenge_-_Day_7"
          alt="Wordle: Chicago Bike Commuter Challenge - Day 7"
          style="padding:4px;border:1px solid #ddd"></a>



